.idea/
.vscode/
.DS_Store

.env
alembic.ini
.venv/
env/
venv/

__pycache__/
*.pyc

*.crt

.coverage
/coverage/
/htmlcov/
.mypy_cache
.pytest_cache

/postgres_data
/app/files
/from app./data

/app/RS256

/app/logs/*.log
/.ruff_cache/
